<form class="form-inline mt-3" action="/factchecks/" method="get" id="searchFactChecksForm">
  <small></small>
  <div class="row no-gutters">
    <div class="col-8">
      <input
          class="form-control"
          id="keyword"
          type="text"
          name="keyword"
          value="<%= keyword %>"
          id="recherche"
          placeholder="Votre recherche"
        />
    </div>
    <div class="col-4">
      <button class="btn btn-dark" id="search-btn" type="submit">
        Recherche
      </button>
    </div>
  </div>
</form>