<!DOCTYPE html>
<html lang="fr" dir="ltr">
<%- include('./head.ejs') %>

<body>
    <%- include('./header') %>
    <%- content %>
    <%- include('./footer') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/html-string.js"></script>
    <script src="js/generateLoaders.js"></script>
    <script src="js/loadNews.js"></script>
    <script src="js/search-news.js"></script>
</body>

</html>