body {
  font-family: "Barlow";
}

h1,
h2,
h3,
h4,
h5,
a {
  color: #152035;
}

.navbar {
  background: #f5f5f5;
}

p {
  color: #788193;
}

a:hover {
  color: #788193;
  text-decoration: none;
}

.form-control,
.btn {
  border-radius: 0px;
}

textarea {
  padding: 10px;
}

nav a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar ul li {
  display: inline-block;
  padding-right: 20px;
  font-size: 20px;
}

.navbar-right {
  margin-top: 10px;
}

header {
  padding: 4% 0;
}

nav .iconify {
  font-size: 30px;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
}

header p {
  font-size: 18px;
}

.card {
  display: inline-block;
  max-width: 300px;
  margin: 0 2%;
  border-radius: 0px;
  background: #f5f5f5;
  border: none;
  transition: all ease 0.1s;
}

.card:hover {
  box-shadow: 0px 0px 10px #ccc;
}

.content-card {
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 25px;
  background: #f5f5f5;
  border-radius: 4px;
}

figure {
  max-width: 500px;
  height: 150px;
  min-height: 150px;
  overflow: hidden;
  margin: 0;
}

figure img {
  display: block;
  width: 100%;
  margin: -20% 0;
}

.badge {
  padding: 5px 10px;
  margin-bottom: 10px;
}

.badge-success {
  background: #5aff9c;
}

.badge-danger {
  background: #fa3e3e;
}

.social {
  display: block;
  padding-right: 20px;
}

.social li {
  display: inline-block;
}

.social .iconify {
  font-size: 30px;
}

/* Post page style */
.content {
  padding: 10px 0 50px 0;
}

.content img {
  max-width: 100%;
  width: 100%;
  margin: 10px 0;
}

.return {
  padding-top: 30px;
}

.content-card .icon {
  font-size: 80px;
}

.content-card .social .iconify {
  font-size: 40px;
}

.true {
  color: #5aff9c;
}

.false {
  color: #fa3e3e;
}

.content-card h4 {
  text-transform: capitalize;
}

/* Submit page style*/
/* input,
textarea,
.custom-file {
  margin: 10px 0;
} */

textarea {
  width: 100%;
}

/* @media screen and (min-width:1199px) {
  form.form-inline {
    padding-left: 197px;
  }
} */

@media screen and (max-width: 740px) {
  .card {
    margin: 0;
    max-width: 500px;
  }

  header {
    padding: 40px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    max-width: 500px;
  }

  .content-heading {
    font-size: 28px;
    padding-bottom: 20px;
  }
}

.col-sm-12.d-flex.align-items-start.flex-wrap {
  justify-content: space-around;
}

.social .button > * {
  transition: 0.2s ease-out;
}

.social .button > *:hover {
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.content-card .body {
  padding: 0 1rem;
}

.main-card {
  padding: 0;
}

.main-card .body {
  margin: 20px;
}

.date {
  text-transform: uppercase;
  font-weight: 500;
}

.details-title {
  font-size: 2.25rem;
}

textarea {
  resize: vertical;
}

.label-title {
  font-size: 18px !important;
  margin-bottom: 12px;
  display: inline-block;
  max-width: 100%;
  line-height: 1.5;
  word-wrap: break-word;
}

.label-description {
  font-size: 15px !important;
  color: #666;
  margin-bottom: 16px;
  word-wrap: break-word;
  line-height: 1.5;
}

#request_factcheck .col-12 {
  margin-bottom: 2rem;
}

.form-description p {
  font-size: 18px !important;
  margin-bottom: 12px;
  display: inline-block;
  max-width: 100%;
  line-height: 1.5;
  word-wrap: break-word;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

.embed-responsive .details-main-image {
  object-fit: cover;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

form input.error {
  border-color: #e74c3c;
}

form input.success {
  border-color: #c3e6cb;
}

.search-form .form-control {
  width: 100% !important;
}

@media screen and (max-width: 796px) {
  iframe {
    /* width: calc(100% - 2rem) !important; */
    /* height: calc(100% - 8rem) !important; */
    /* top: 5rem !important; */
    /* margin: 1rem !important; */
    border: 1px #f5f5f5 solid !important;
    box-shadow: rgba(112, 71, 71, 0.7) 0px 20px 30px !important;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 20px 30px !important;
}

.container-btn-cloudinary-widget-close {
  top: 8px;
  right: 1rem;
  position: fixed;
  z-index: 1000001;
}
