
<%- include('partials/head') %> <%- include('partials/header') %>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Administration</h1>
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div> -->
      </div>
      <h2>Section title</h2>
      <div class="row mt-5">
        <div class="col-sm-12">
          <table class="table table-striped table-bordered table-hover table-responsive">
            <caption>Idées reçues</caption>
            <thead class="thead-light text-center">
              <tr>
                <th scope="col" class="w-25">Titres</th>
                <th scope="col" class="w-10">Sources</th>
                <th scope="col" class="w-15">Liens</th>
                <th scope="col" class="w-25">Contenu</th>
                <th scope="col" class="w-15">Actions</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td>Le port du masque protège contre le Coronavirus</td>
                <td>https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public/q-a-coronaviruses</td>
                <td>URL DE L'INFO ...</td>
                <td>Il ne faut porter un masque que si on présente des symptômes de la COVID-19 (en particulier, la toux (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>Les êtres humains peuvent contracter la COVID-19 à partir d’une source animale</td>
                <td>https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public/q-a-coronaviruses</td>
                <td>URL DE L'INFO ...</td>
                <td>Les sources animales éventuelles de la COVID-19 n’ont pas encore été confirmées.Pour se protéger, pa (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>La conspiration des laboratoires pharmaceutiques:</td>
                <td>facebook</td>
                <td>URL DE L'INFO ...</td>
                <td>De grandes entreprises ayant fait fortune dans les médicaments dissimulaient des traitements simples (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>Les personnes de groupe sanguin O sont-elles mieux immunisées</td>
                <td>https://www.rtbf.be/info/dossier/fact-checking-covid-19/detail_coronavirus-les-personnes-de-groupe-sanguin-o-sont-elles-mieux-immunisees?id=10464490</td>
                <td>URL DE L'INFO ...</td>
                <td>Les personnes de groupe sanguin O sont-elles mieux immunisées (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>L’immunité de la jeunesse contre le virus:</td>
                <td>https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public/q-a-coronaviruses</td>
                <td>URL DE L'INFO ...</td>
                <td>Il est faux de penser que le virus ne touche que les personnes âgées, même si la fragilité d’un orga (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>Une soupe à l’ail miracle ?</td>
                <td>https://www.rtbf.be/info/dossier/epidemie-de-coronavirus/detail_coronavirus-le-vrai-et-le-faux-des-rumeurs-et-idees-recues-sur-le-covid-19?id=10441926</td>
                <td>URL DE L'INFO ...</td>
                <td>Boire de l’eau, une soupe à l’ail (voire de l’eau de javel) ou se rincer la gorge avec une solution  (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>Les Africains sont plus résistants face au virus</td>
                <td>https://www.rtbf.be/info/dossier/epidemie-de-coronavirus/detail_coronavirus-le-vrai-et-le-faux-des-rumeurs-et-idees-recues-sur-le-covid-19?id=10441926</td>
                <td>URL DE L'INFO ...</td>
                <td>Selon les Centres de contrôle et de prévention des maladies (CDC), toute personne qui entre en conta (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>Des billets de banque sont contagieux</td>
                <td>https://www.rtbf.be/info/dossier/epidemie-de-coronavirus/detail_coronavirus-le-vrai-et-le-faux-des-rumeurs-et-idees-recues-sur-le-covid-19?id=10441926</td>
                <td>URL DE L'INFO ...</td>
                <td>Des banques chinoises ont décidé de mettre en quarantaine les billets de banque usagés puis de les n (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>La transmission du virus par les colis venus de Chine:</td>
                <td>https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public/q-a-coronaviruses</td>
                <td>URL DE L'INFO ...</td>
                <td>Même si cela varie en fonction de l’environnement et de la température, les germes pathogènes ne sur (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>Traitement tranditionnelle</td>
                <td>facebook</td>
                <td>URL DE L'INFO ...</td>
                <td>A part le kongo bololo d'autres guérisseur traditionnels ont déjà trouvé le traitement de ce virus,  (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
              <tr>
                <td>COVID-19 petit problème dans le corps</td>
                <td>Facebook</td>
                <td>URL DE L'INFO ...</td>
                <td>L'homme congolais a des virus plus puissant que le COVID-19 dans son corps.Il se retrouve donc immun (<a href='#'>+voir plus</a>) </td>
                <td class="text-center"> 
                  <button class="btn btn-info"><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-success"><i class="fa fa-check"></i>  </button>
                  <button class="btn btn-danger"><i class="fa fa-ban"></i>  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      
      
      </div>
    </main>
  </div>
</div>
<%- include('partials/footer') %>