<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Connexion | Coronavirus factcheck RDC  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" href="https://www.stopcoronavirusrdc.info/img/logo_stop_coronavirus_rdc.png"
    type="image/x-icon">
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" method="POST">
      <img class="mb-4" src="https://www.stopcoronavirusrdc.info/apple-icon-180x180.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
      <label for="inputUsername" class="sr-only">username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="username" name="pseudo" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
      <p class="mt-5 mb-3 text-muted">Fournis par <a href="https://www.kinshasadigital.com/kinshasa-digital-academy">Kinshasa Digital Academy</a></p>
    </form>
  </body>
</html>
