<!-- <div class="ui secondary  menu">
  <a class="item">
    Acceil
  </a>
  <a class="item active">
    Actualités
  </a>
  <a class="item">
    Nous contacter
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search..." />
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Déconnexion
    </a>
  </div>
</div> -->

<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://www.stopcoronavirusrdc.info/img/logo_stop_coronavirus_rdc.png" alt="" srcset="" width="120">
  </a>
  <span class="navbar-text">
    </span>
</nav>
