<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="https://www.stopcoronavirusrdc.info/img/logo_stop_coronavirus_rdc.png" alt="" width="120">
      </a>
    </div>

    <ul class=" navbar-right">
      <li><a href="/">Acceuil</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#"><span class="iconify" data-icon="jam:facebook-circle" data-inline="false"></span></a></li>
      <li><a href="#"><span class="iconify" data-icon="jam:twitter-circle" data-inline="false"></span></a></li>
    </ul>
  </div>
</nav>