 <form class="form-inline" action="/news/search" method="get">
     <input type="text" name="keyword" id="recherche" class="form-control" placeholder="Votre recherche">
     <button type="submit" class="btn btn-dark my-1">Recherche</button>
 </form>