  <hr>
  <footer class="clearfix">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="float-left">
            <h6 class="d-inline right">Construit & Offert par <a href="https://www.kinshasadigital.com/kinshasa-digital-academy" target="_blank">Kinshasa
                Digital Academy</a></h6>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </div>

  <script
    src='https://platform-api.sharethis.com/js/sharethis.js#property=5e822b6af8001300197231c8&product=inline-share-buttons'
    async='async'></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  </body>