<!DOCTYPE html>
<html lang="fr" dir="ltr">
<%- include('./head.ejs') %>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCPJ2SM"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include('./header') %>
        <%- content %>
        <%- include('./footer') %>
    </body>
</html>